* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
   background:
    radial-gradient(
      circle at 85% 25%,
      rgb(0, 0, 10) 0%,
      rgba(7, 16, 46, 0.95) 40%,
      rgb(0, 3, 18) 75%
    ),
    linear-gradient(
      120deg,
      rgb(0, 1, 15) 0%,
      rgb(7, 16, 46) 45%,
      rgb(10, 25, 64) 100%
    );
  color: #ffffff;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  backdrop-filter: blur(8px);
}

.nav a {
  margin-left: 24px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 0.95rem;
}

.nav a:hover {
  color: #38bdf8;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 8%;
  position: relative;
  z-index: 10;
}

.section h1 {
  font-size: 4.2rem;
  line-height: 1.1;
}

.section p {
  font-size: 1.2rem;
  opacity: 0.75;
  max-width: 520px;
  margin-top: 20px;
  color:#ffffff;
}
.primary-btn {
  background: #38bdf8;
  color: #020617;
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  margin-right: 16px;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  color: #e5e7eb;
  padding: 14px 28px;
  border-radius: 30px;
  border: 1px solid #334155;
  cursor: pointer;
}


.app-background {
  min-height: 100vh;
  background:
    radial-gradient(
      circle at 85% 25%,
      rgb(0, 0, 10) 0%,
      rgba(7, 16, 46, 0.95) 40%,
      rgb(0, 3, 18) 75%
    ),
    linear-gradient(
      120deg,
      rgb(0, 1, 15) 0%,
      rgb(7, 16, 46) 45%,
      rgb(10, 25, 64) 100%
    );
 
  position: relative;
}
.app-background::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.07;
  pointer-events: none;
  z-index: 1;
}
@media (max-width: 768px) {
  nav button {
    display: block !important;
  }

  nav > div {
    display: none;
  }
}

